/*

HEADER

 */

.navbar-default{
  height: 75px;
  border-bottom: 5px solid $brand-primary;
  margin-bottom: 0;

  .navbar-header{
    // margin-left: 25px;
  }
  .navbar-brand{
      float: left;
      padding: 0 50px;
      font-size: 19px;
      line-height: 21px;
      height: auto;
    img{
      max-height: 40px;
      margin-top: 12.5px;
    }
  }
  
  .current-account{
    margin-top: 40px;
    float: right;
    height: 36px;

    .navbar-text{
      margin-top: 0px;
      font-family: 'Baloo', cursive;
      color: white;
      margin-right: 40px;
    }
    .dropdown-toggle{
      font-family: 'Baloo', cursive;
      color: white;
      margin-right: 40px;
      cursor: pointer;
    }
    .dropdown-menu{
      margin-top: 5px;
      left: -40px;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0;

      li{
        font-family: Baloo, cursive;
        font-size: 14px;

        a{
          text-align: right;
          color: #f6303e;
          border-bottom: 1px solid black;
          padding: 7.5px 20px;

          &:hover, &:focus{
            background: white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.navigation-actions{
  width: 100%;
  background: $brand-primary;
  height: 32.5px;
  min-height: 0;
  
  .nav{
    float: right;
    margin-right: 52.5px;

    li{
      a{
        color: white;
        font-family: 'Baloo', cursive;
        margin: 0;
        padding: 0;
        display: inline;

        &:hover, &:focus{
          background: transparent;
          text-decoration: underline;
          outline: none !important;
        }
      }
      .nav-separator{
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}