<div><%= client("MenuShow", 'tw', {is_creator: policy(:menu).is_creative?, background: @menu.background, editor: false, workspaceId: @menu.id, width: @menu.width, height: @menu.height, menu: @menu, author: current_user}) %></div>
