/*

ACCOUNTS - NEW

 */

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

.all-height{
  height: 100%;
}

.pretty-nav-line{
  //width: 45%;
  height: 15px;
  border-bottom: 3px solid $brand-primary;
  display: block;
  margin: 0 auto;
  border-radius: 1px;
  margin-left: 40px;
}

.navbar-landing{
  padding-top: 0px;


  .navbar-right{
    margin-top: 0px;
    margin-right: 0;
    margin-left: 25px;
    li{
      a{
        color: white;
        font-family: 'Baloo', cursive;
        margin: 0;
        padding: 0;
        display: inline;
        font-size: 12px;

        &:hover, &:focus{
          background: transparent;
          text-decoration: underline;
          outline: none !important;
        }
      }
      .nav-separator{
        margin-right: 10px;
        margin-left: 10px;
        color: $brand-primary;
      }
    }
  }
}

.main-landing-section{
  height: 100%;
  #twik-word-logo {
    //width: 20%;
    //height: 50%;
    margin-left: 0px;
    padding-left: 0;
    margin-right: 20px;
    margin-top:23px;
    height: 150%;
    width: 12%;
    padding-right: 40px;
  }
  #twik-img-logo {
    margin-left: 0;
    height: 400%;
    width: 9%;
    padding-right: 0;
  }

  > header{
    height: 120% !important;
    background: image_url('background-signup.png');
    background-size: 100% 100%;
    margin-bottom: 0;

  }
  .twik-deets{
    //background: white;
    //color: $brand-default;
    //padding-top: 100px;
    .face-image {
      max-height: 50%;
      max-width: 50%;
      margin-left: 90px;
      margin-top: 35px;
    }
    > header{
      margin-bottom: 30px;
      h1{
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        color: #57090F;
        img {
          height: 40px;
          width: auto;
        }
      }
    }
  }
}

.accounts-logo-wrapper{
  img{
    margin-left: 25px;
    margin-top: 35%;
  } 
}
.register-account{
  margin-top: 30px;

  > header{
    margin-bottom: 0px;

    h1, h2{
      font-size: 28px;
      color: white;
      font-family: Open Sans;
      text-align: left;
      font-weight: 900;
      line-height: 40px;
      .red-background{
        background: $brand-primary;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
      }
      .arrow-background {
        background: image_url('arrow-red.png');
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 200px;
        background-size: 100% 100%;
        padding-bottom: 20px;
        padding-top: 15px;
      }
    }
    h2 {
      margin-top: 0;
      margin-bottom: 90px;
    }
    h1 {
      margin-bottom: 0;
    }
  }


  p{
    color: #4D2423;
    font-size: 12px;
    font-family: Open Sans;
    line-height: 1.25;
  }
  
  .sign-up-form{
    input.form-control{
      background: transparent;
      border: none;
      color: #f6303e;
      line-height: 1;
      border-bottom: 3px solid #f6303e;
      height: 35px;
      box-shadow: none;
      border-radius: 5px;

      &:focus{
        box-shadow: none;
      }
      @include placeholder{
        color: #704c4c;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
      }
    }

  }
}

.account-auth{
  .action-buttons{
    button{
      margin-bottom: 15px;
    }
  }
}

.panel-landing{
  box-shadow: none;

  &:first-child{
    border-top: 1px solid $brand-default;
  }
  .panel-heading{
    text-align: center;
    border-bottom: 1px solid $brand-default;
  }
  .panel-title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: inherit;
  }
}

.pricing-table{
  margin-top: 150px;
  margin-bottom: 250px;
  color: #57090F;
  thead{
    tr{
      th{
        border-bottom: 1.5px solid $brand-default;
        text-align: center;   
        height: 75px;
        vertical-align: middle;
        font-size: 20px;
        padding-bottom: 0;
        &:first-child{
          // text-align: right;
          // max-width: 150px;
          border-bottom: none;
        }
        .th-crown-icon {
          max-height: 70%;
          max-width: 70%;
        }
      }
    }
  }
  tbody{
    font-size: 12px;
    tr{
      td{
        border-top: 1.5px solid $brand-default;
        text-align: center;
        height: 75px;
        vertical-align: middle;
        padding-top: 0px;
        padding-bottom: 0px;

        &:first-child{
          text-align: right;
          width: 20%;
          border-top: none;
          font-size: 16px;

        }
        .td-money-icon {
          max-height: 70%;
          max-width: 70%;
          margin-right: 10px;
          margin-top: 10px;
        }

      }
    }
  }
  .small{
    font-size: 14px;
    font-weight: 500;
  }
}
.uses-list {
  p {
    font-size: 22px;
    font-weight: 700;
    color: #57090F;
    margin-bottom: 0;
    line-height: 30px;
  }
}
.list-inline.uses{
  li{
    padding-right: 0;
    font-size: 24px;
    font-weight: 800;
  }
  .list-dash {
    color: #57090F;
  }

}
.box-background {
  background: image_url('box-red.png');
  color: #F5303F;
  background-size: 100% 100%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none !important;
  cursor: pointer;
}
.collapse-text {
  font-size: 12px;
  color: #57090F;
}