/*

ACCOUNTS - NEW

 */

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

.all-height{
  height: 100%;
}

.pretty-nav-line{
  width: 100%;
  height: 15px;
  border-bottom: 3px solid $brand-primary;
  display: block;
  margin: 0 auto;
  border-radius: 1px;
  margin-top: 82px;
}

.navbar-landing{
  padding-top: 20px;

  .navbar-brand{
    height: 155px;
    @media(max-width: 480px) {
      height: 100px;
      padding: 0;
    }

    img{
      height: 125px;
      margin-left: 0px;

      @media(max-width: 480px) {
        height: 100px;
      }
    }
  }
  .navbar-toggle{
    margin-right: 0;
    margin-top: 25px;

    .icon-bar{
      background: $brand-primary;
      display: block;
      width: 35px;
      height: 3px;
      border-radius: 0;
      margin-bottom: 7.5px;
    }
  }

  .navbar-right{
    margin-top: 82.5px;
    margin-right: 15px;

    li{
      a{
        color: white;
        font-family: 'Baloo', cursive;
        margin: 0;
        padding: 0;
        display: inline;
        font-size: 18px;

        &:hover, &:focus{
          background: transparent;
          text-decoration: underline;
          outline: none !important;
        }
      }
      .nav-separator{
        margin-right: 10px;
        margin-left: 10px;
        color: $brand-primary;
      }
    }
  }

  .mobile-nav{
    margin-top: 15px;
    @media(min-width: 480px){
      display: none;
    }
    li{
      a{
        color: white;
        font-family: 'Baloo', cursive;
        margin: 0;
        padding: 0;
        // display: inline;
        font-size: 18px;
        // text-align: center

        &:hover, &:focus{
          background: transparent;
          text-decoration: underline;
          outline: none !important;
        }
      }
    }
  }
}

.main-landing-section{
  height: 100%;
  #twik-word-logo {
    //width: 20%;
    //height: 50%;
    margin-left: 0px;
    padding-left: 0;
    margin-right: 20px;
    margin-top:23px;
    height: 150%;
    //width: 12%;
    max-width: 600px;
    padding-right: 40px;
  }
  #twik-img-logo {
    margin-left: 0;
    height: 400%;
    max-width: 80px;
    padding-right: 0;
    padding-left: 0px;
  }

  > header{
    height: 100%;
    background: image_url('background-signup.png');
    background-size: 100% 100%;
    margin-bottom: 0;

    @media(max-width: 480px){
      background-size: cover;
      height: 115%;
    }
  }
  .twik-deets{
    //background: white;
    //color: $brand-default;
    //padding-top: 100px;
    .face-image {
      max-height: 50%;
      max-width: 50%;
      margin-left: 90px;
      margin-top: 35px;
    }
    > header{
      margin-bottom: 30px;
      h1{
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        color: #57090F;
        img {
          height: 40px;
          width: auto;
        }
      }
    }
  }
}

.accounts-logo-wrapper{
  img{
    margin-left: 25px;
    margin-top: 35%;
  }
}
.register-account{
  margin-top: 30px;

  @media(max-width: 480px) {
    margin-top: 0px;
  }
  > header{
    margin-bottom: 0px;

    h1, h2{
      font-size: 28px;
      color: white;
      font-family: Open Sans;
      text-align: left;
      font-weight: 900;
      line-height: 40px;
      .red-background{
        background: $brand-primary;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
        @media(max-width: 480px) {
          font-size: 24px;
          background: transparent;
          padding: 0px;
        }
      }
      .arrow-background {
        background: image_url('arrow-red.png');
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 230px;
        background-size: 100% 100%;
        padding-bottom: 20px;
        padding-top: 15px;
        @media(max-width: 480px) {
          font-size: 24px;
          background: transparent;
          padding: 0px;
        }
      }

      @media(max-width: 480px) {
        font-size: 24px;
        background: transparent;
      }
    }
    h2 {
      margin-top: 0;
      margin-bottom: 90px;
    }
    h1 {
      margin-bottom: 0;
    }
  }


  p{
    color: #4D2423;
    font-size: 12px;
    font-family: Open Sans;
    line-height: 1.25;
  }

  .sign-up-form{
    input.form-control{
      background: transparent;
      border: none;
      color: #f6303e;
      line-height: 1;
      border-bottom: 2px solid #f6303e;
      height: 40px;
      box-shadow: none;
      border-radius: 0;
      font-size: 30px;
      text-align: center;

      @media(max-width: 480px) {
        font-size: 18px;
        background: transparent;
      }
      &:focus{
        box-shadow: none;
      }
      @include placeholder{
        color: #704c4c;
        font-weight: bold;
        font-size: 30px;
        text-align: center;

        @media(max-width: 480px) {
          font-size: 18px;
          background: transparent;
        }
      }
    }
    .email-group {
      width: 100%;
      input {
        margin-top: 15px;
      }
    }
    .signup-button {
      width: 165px;

      @media(max-width: 480px) {
        width: 100%;
        padding-top: 17.5px;
        margin-top: 22.5px;
      }
    }
  }
}

.account-auth{
  .action-buttons{
    button{
      margin-bottom: 15px;
    }
  }
}

.panel-landing{
  box-shadow: none;

  &:first-child{
    border-top: 1px solid $brand-default;
  }
  .panel-heading{
    text-align: center;
    border-bottom: 1px solid $brand-default;
  }
  .panel-title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: inherit;
  }
}

.pricing-plan{
  h1{
    font-size: 40px;
    font-family: Baloo, cursive;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  ul{
    li{

    }
  }
  .btn-large{
    padding-top: 17.5px;
  }
}

.pricing-table{
  margin-top: 150px;
  margin-bottom: 250px;
  color: #57090F;
  thead{
    tr{
      th{
        border-bottom: 1.5px solid $brand-default;
        text-align: center;
        height: 75px;
        vertical-align: middle;
        font-size: 20px;
        padding-bottom: 0;
        &:first-child{
          // text-align: right;
          // max-width: 150px;
          border-bottom: none;
        }
        .th-crown-icon {
          max-height: 70%;
          max-width: 70%;
        }
      }
    }
  }
  tbody{
    font-size: 12px;
    tr{
      td{
        border-top: 1.5px solid $brand-default;
        text-align: center;
        height: 75px;
        vertical-align: middle;
        padding-top: 0px;
        padding-bottom: 0px;

        &:first-child{
          text-align: right;
          width: 20%;
          border-top: none;
          font-size: 16px;

        }
        .td-money-icon {
          max-height: 70%;
          max-width: 70%;
          margin-right: 10px;
          margin-top: 10px;
        }

      }
    }
  }
  .small{
    font-size: 14px;
    font-weight: 500;
  }
}
@media screen and (max-width: 600px) {
  table {width:100%;}
  thead {display: none;}
  tr:nth-of-type(2n) {background-color: inherit;}
  tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
  tbody td {display: block;  text-align:center;}
  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
  }
}
.uses-list {
  p {
    font-size: 22px;
    font-weight: 700;
    color: #57090F;
    margin-bottom: 0;
    line-height: 30px;
  }
}
.list-inline.uses{
  li{
    padding-right: 0;
    font-size: 24px;
    font-weight: 800;
  }
  .list-dash {
    color: #57090F;
  }

}
.box-background {
  background: image_url('box-red.png');
  color: #F5303F;
  background-size: 100% 100%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none !important;
  cursor: pointer;
}

.collapse-text {
  font-size: 12px;
  color: #57090F;
}
