.dashboard{
  margin-top: 75px;

  .border-bottom{
    border-bottom: 1px solid $brand-default;
  }
  .left-dashboard{
    h1{
      font-size: 14px;
      font-weight: 600;
    }

    .action-items{
      padding: 10px 5px;

      a.text-default{
        font-weight: bold;
        color: $brand-default;
      }
      .ion{
        color: $brand-default;
        font-size: 1.25em;
        float: right;
      }
      .user-update-form{
        .form-group{
          margin-bottom: -7.5px;
          margin-top: -7.5px;

          .ion{
            margin-top: 5px;
          }
          .help-block{
            display: none;
          }
        }
        input.form-control{
          border-bottom: none;
          padding: 0;
          width: 94%;
        }
      }
    }
  }
  .right-dashboard{
    margin-top: 100px;

    header{
      padding-bottom: 25px;
      h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 5px;
        color: $brand-default;
      }
      h2, h3{
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 5px;
        color: $brand-default;
      }
    }

    .action-items{
      padding: 10px 5px;

      a{
        font-weight: bold;
      }
    }
  }
}