.dashboard{
  margin-top: 75px;

  .pagination{
    text-align: center;
    font-family: Baloo, cursive;
    margin: 50px auto;
    display: block;
  }

  .border-bottom{
    border-bottom: 1px solid $brand-default;
  }
  .left-dashboard{
    h1{
      font-size: 14px;
      font-weight: 600;
    }

    .action-items{
      padding: 10px 5px;

      a.text-default{
        font-weight: bold;
        color: $brand-default;
      }
      .ion{
        color: $brand-default;
        font-size: 1.25em;
        float: right;
      }
      .user-update-form{
        .form-group{
          margin-bottom: -7.5px;
          margin-top: -7.5px;

          .ion{
            margin-top: 5px;
          }
          .help-block{
            display: none;
          }
        }
        input.form-control{
          border-bottom: none;
          padding: 0;
          width: 90%;
        }
      }
      .btn-create-new{
        padding-top: 12.5px;
        float: right;
        margin-right: -10px;
        margin-top: 10px;
      }
    }
  }
  .right-dashboard{
    margin-top: 100px;

    header{
      padding-bottom: 25px;
      h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 5px;
        color: $brand-default;
      }
      h2, h3{
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 5px;
        color: $brand-default;
      }
    }

    .action-items{
      padding: 10px 5px;

      a{
        font-weight: bold;
      }
    }
  }
}

.dashboard-menu{
  margin-bottom: 50px;

  .menu-preview{
    max-height: 175px;
    margin: 0 auto;
    display: block;
  }
  .menu-name-wrapper{
    font-family: Baloo, cursive;
    border-bottom: 1px solid $brand-default;
    margin-top: 10px;
    padding-bottom: 5px;

    .menu-name{
      color: $brand-default;
      font-size: 16px;
      width: 80%;
      display: inline-block;
    }
  }
  .last-version-wrapper{
    border-bottom: 1px solid $brand-default;
    margin-top: 10px;
    padding-bottom: 2.5px;

    .last-version{
      color: $brand-default;
      font-size: 14px;
      width: 50%;
      display: inline-block;
    }
  }
  .menu-archives{
    margin-left: 10px;
    font-size: 18px;
  }
  .download-menu{
    font-size: 18px;
  }
  .view-menu{
    height: 20.5px;
    margin-top: 2.5px;
    float: right;
  }
  .edit-menu{
    height: 22px;
    float: right;
  }
}
