<section class="row dashboard fresh-user">
  <div class="row">
    <header class="col-sm-2 col-sm-offset-5">
      <%= image_tag "twik-robot-red.png", class: "img-responsive" %>
    </header>
  </div>
  <div class="row text-center">
    <h1>Let's get started!</h1>
    <h2>Create a Menu!</h2>
    <%= link_to "GO!", new_menu_path, class: 'btn btn-round btn-dark' %>
  </div>
</section>