.patient-registration-widget, #password-form{
  label{
    line-height: 35px;
    text-align: left;
    padding-left: 15px;
  }
}
.password-form-wrapper{
  header{
    h1{
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 0;
      text-align: center;
    }
    hr{
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }
}
