/*

ACCOUNTS - NEW

 */

.accounts-logo-wrapper{
  img{
    margin-left: 25px;
    margin-top: 30%;
  } 
}
.register-account{
  margin-top: -50px;
  header{
    margin-bottom: 15px;
  }
  h1{
    font-size: 16px;
    color: #4D2423;
    font-family: 'Baloo', cursive;
  }

  p{
    color: #4D2423;
    font-size: 14px;
    font-family: Open Sans;
    line-height: 1.25;
  }  
}

.account-auth{
  .action-buttons{
    button{
      margin-bottom: 15px;
    }
  }
}
