.landing-logo{
  max-height: 175px;
}

.btn{
  // font-weight: bold !important;
  font-family: 'Baloo', cursive !important;
}

.btn-round{
  font-family: 'Baloo', cursive !important;
  border-radius: 50%;
  padding: 12.5px 10px;
  font-size: 30px;
  line-height: 40px;
}

.btn-dark{
  background-color: $brand-default;
  border-color: $brand-default;
  color: #fff; 
  &:hover, &:focus{
    background-color: darken($brand-default, 2.5%);
    border-color: darken($brand-default, 5%);
  }
}

label{
  margin-top: 15px;
  color: $brand-primary;
  font-weight: 500;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

input.form-control{
  border: none;
  // padding: 0;
  color: $brand-primary;
  line-height: 1;
  border-bottom: 1px solid #4D2423;
  height: 35px;
  box-shadow: none;

  @include placeholder{
    color: $brand-primary !important;
  }
}

.form-control:focus {
    border-color: lighten($brand-primary, 5%);
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 5px 6px -6px #f8616c;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 5px 6px -6px #f8616c;
    // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten($brand-primary, 10%);
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten($brand-primary, 10%);
}