@font-face {
    font-family: 'Pea Mystie';
    src: asset-url('heyyyy-webfont.ttf');
    // src: asset-url('heyyyy-webfont.eot?#iefix') format('embedded-opentype'),
    //      asset-url('heyyyy-webfont.woff2') format('woff2'),
    //      asset-url('heyyyy-webfont.woff') format('woff'),
    //      asset-url('heyyyy-webfont.ttf') format('truetype'),
         // asset-url('heyyyy-webfont.svg#pea_mystieregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir Next Condensed Demi';
    src: asset-url('AvenirNextCondensed-DemiBold.ttf');
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: asset-url('AvenirNextCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Futura Medium';
    src: asset-url('ufonts.com_futura-medium.ttf');
}
