@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

section.editor{
  .last-edited-by{
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

section.builder-canvas {
  position: relative;
  // padding-right: 50px;
  // width: 100%;
  transition: width 0.5s;
  // float: left;
  // min-height: 500px;
  & .form-control {
    border-radius: 0;
    border: none;
    color: #222;
    margin: 5px 0;
  }
  & .actions-group.vertical {
    // position: absolute;
    // top: 0;
    // right: 0;
    // transition: top 0.3s;
    & button {
      display: block;
      margin-bottom: 4px;
    }
  }
  & .panel {
    // background-color: #D8D1CB;
    padding-bottom: 25px;
    border: none;
    // border-bottom: 2.5px solid black;
    margin: 0;
    border-radius: 0;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    & .panel-heading {
      border-radius: 0;
      position: relative;

    }
    &.panel-primary > .panel-heading {
      background-color: #18222E;
      border-color: #18222E;
      color: #D7D2CC;

      h1{
font-family: 'Libre Baskerville', serif;
      }

      & .close {
        color: #D7D2CC;
        opacity: 1;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }


    }
    & .panel-body {
      &.text-rendered {
        & .title-bold {
          font-weight: bold;
          margin-bottom: 5px;
        }
        & .text-content {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #3A3E41;
          &:last-child {
            border: none;
          }
        }
      }
      & .form-control.title {
        color: #030303;
        min-height: 40px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
      }
      & .form-control.textarea {
        color: #030303;
        min-height: 100px;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}

.drop-zone {
  position: relative;
  // z-index: 1041;
}

.btn-remove-chart {
  border: none;
  background: transparent;
  font-size: 22px;
  color: #18222E;
  float: right;
}

#right-sidebar {
  height: auto;
  float: right;
  transition: all 0.5s;
  & .nav-year.nav-pills {
    transition: top 0.3s;
    position: absolute;
    top: -20px;
    right: -30px;
    z-index: 999;
    & > li {
      transform: rotate(-90deg) translate(0px, 10px);
      margin: 30px 0;
      & > a {
        border-radius: 0;
        text-align: center;
        font-weight: bold;
        position: relative;
        background-color: #CFC8C0;
        color: #18222E;
        padding: 5px 10px;
        &:focus,
        &:hover {
          background-color: #18222E;
          color: #D7D2CC;
        }
        &:before,
        &:focus:before,
        &:hover:before {
          content: '';
          background-color: rgba(255,255,255,0.2);
          width: 100%;
          height: 50%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
        }
        & span {
          z-index: 1;
          position: relative;
        }
      }
      &.active {
        & a {
          background-color: #18222E;
          color: #D7D2CC;
          &:focus,
          &:hover {
            background-color: #18222E;
            color: #D7D2CC;
          }
        }
      }
    }
  }
  &.collapse {
    width: 0;
    padding: 0;
  }
  &.collapsing {
    width: 0;
    padding: 0;
    & + section.dashboard {
      width: calc(100% - 300px);
    }
  }
  &.in {
    padding: 0 5px;
    padding-right: 35px;
    width: 300px;
    & + section.dashboard {
      width: calc(100% - 300px);
      & + div .modal {
        left: calc(100% - 643px);
      }
      & + div #modal-vaccination {
        left: 0;
        width: calc(100% - 343px);
        & .modal-dialog {
          right: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
  & .tab-pane > .panel {
    min-width: 260px;
  }
  & .panel {
    background-color: #fff;
    border: none;
    margin: 0;
    border-radius: 0;
    position: relative;
    & > .panel-heading {
      border-radius: 0;
      position: relative;
      color: #fff;
      font-family: fantasy;
      & h3 {
        font-size: 30px;
        & small {
          display: block;
          font-size: 12px;
        }
      }
      & h4 {
        font-size: 20px;
      }
    }
    &.panel-primary > .panel-heading {
      background-color: #18222E;
      border-color: #18222E;
      color: #D7D2CC;
      & .close {
        color: #18222E;
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
      }
    }
  }
}



.drag-drop-helper {
    position: relative;
    width: 150px;
    height: 60px;
    background-color: rgba(49,149,203,.9);
    border-radius: 4px;
    border: 2px solid rgba(49,149,203,.5);
    background-clip: content-box;
    color: #fff;
    z-index: 10;
}



      .empty-section-title{
        font-weight: 200;
        font-size: 14px;
        line-height: 14px;
        text-transform: none;
        letter-spacing: 0;
        text-align: left;
      }

      .panel-title.section-container-title{
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        text-transform: none;
        letter-spacing: 0;
        text-align: left;
      }

      .section-container-delete, .close-toolbox, .remove-section-element{
        z-index: 99;
        cursor: pointer;
        color: #D7D2CC;
        font-size: 1em;
        /* margin-right: 5px; */
        /* margin-top: -5px; */
        position: absolute;
        right: 5px;
        top: 3.5px;
          .fa-inverse{
            color: #18222E;
          }
      }
      .remove-section-element{
        top: -12.5px;
      }
      .add-action-item{
        z-index: 99;
        cursor: pointer;
        color: #D7D2CC;
        font-size: 1em;
        position: absolute;
        right: 37.5px;
        top: -12.5px;

        .fa-inverse{
          color: black;
        }
      }

      .editingTitle{
        input{
          width: 90%;
          background: transparent;
          border: none;
          border-bottom: 2.5px solid #D7D2CC;
        }
      }


.navbar-default .dropdown-menu {
    background-color: #18222E;
}

.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > .active > a, .navbar-default .dropdown-menu > .active > a:hover{
  background-color: darken(#18222E, 2.5%)
}


/*


BUILDER LEFT PANEL


 */

.toolbox-panel{
  height: auto;
  color: #D7D2CC;
  background-color: #18222E;
  // padding: 15px;
  position: relative;
  // padding-left: 35px;
}

.close-toolbox{
  color: #d8d3cf;
  font-size: 0.8em;
  position: absolute;
  top: 5px;
  right: 5px;
}

.remove-section-element{
  color: black;

  .fa-inverse{
    color: white;
  }
}

.previous-step-toolbox{
  color: #d8d3cf;
  font-size: 1em;
  position: absolute;
  top: 5px;
  left: 10px
}

.toolbox-panel-header{
  margin-bottom: 15px;

  h1{
    font-family: "Open Sans" !important;
    text-transform: none;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 500;
    line-height: 20px;
    margin: 5px auto;
  }
}

/*

GENERAL

 */

header{
  h1{
    font-family: "Open Sans" !important;
    text-transform: none;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 500;
    line-height: 20px;
    margin: 5px auto;

    .patient-name{
      font-weight: bold;
    }
  }
}

/*

VAXX

 */
.vaxx-shrunk{
  .vaxx-table-wrapper{
    display: none;
  }
  .fa{
    color: #D7D2CC;
  }
}

.vaxx-full{
  .vaxx-table-shrunken{
    display: none;
  }
  .fa{
    color: #D7D2CC;
  }
}

.vaxx-table-shrunken{
  padding-bottom: 25px;
  position: relative;
  
  > .row >  header{
    margin: 5px 10px;
  }

  .shrink-vaxx-table{
    position: absolute;
    right: 30px;
    top: 7px;
    background: transparent;
    border: none;
    font-size: 1.25em;
    cursor: pointer;
  }
  .close-vaxx-table{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 0.75em;
    cursor: pointer;
    
    .fa-inverse{
      color: black;
      font-size: 0.85em;
    }
  }

  .vaxx-shrunk-vaxx{
    ul{
      li{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-bottom: -1px;
        padding: 7.5px 10px;

        .vaxx-name{
          font-weight: 600;
          font-size: 12px;
        }
        .vaxx-expand{
          margin-left: 10px;
          font-size: 0.75em;
          cursor: pointer;

          .fa-inverse{
            color: black;
            font-size: 1.25em;
          }
        }
      }
    }
    .fa-eye-slash, .fa-eye{
      cursor: pointer;
    }
    .vaxx-dose-text{
      font-size: 10px;
      margin-left: 5px;
    }
    .vaxx-description{
      font-size: 10px;
    }

    .shrunk-dose-editor{
      position: relative;
      padding-top: 25px;

      .close-shrunk-editor{
        right: 0;
        position: absolute;
        top: 0;
        font-size: 0.75em;
        cursor: pointer;

        .fa-inverse{
          color: black;
        }
      }
      .left-side{
        padding-top: 10px; 
        
        label{
          font-size: 10px;
        }
        input{
          vertical-align: -6px;
        }
      }

      .right-side{
        input{
          height: 30px;
          font-size: 10px;
          padding: 5px;

          &[type="checkbox"]{
            margin-top: 7.5px;
          }
        }
      }
    }
  }

  .vaxx-shrunk-action-buttons{
    padding: 0 15px;
    margin-top: 15px;

    .btn{
      margin-bottom: 10px;
    }
  }
}

.vaxx-table-wrapper{
  padding-bottom: 25px;
  position: relative;

  .btn{
    margin-bottom: 5px;
  }
  
  .shrink-vaxx-table{
    position: absolute;
    right: 15px;
    top: -3px;
    background: transparent;
    border: none;
    font-size: 1.25em;
    cursor: pointer;
  }
  .close-vaxx-table{
    position: absolute;
    right: -15px;
    top: -5px;
    font-size: 0.75em;
    cursor: pointer;
    
    .fa-inverse{
      color: black;
      font-size: 0.85em;
    }
  }
}
.vaxx-table{
  width: 100%;
  margin: 5px auto 20px;

  thead{

  }

  tbody{

  }
  tr{
    > td:first-child{
      border-left: none;
      width: 30%;
    }
  }
  th{
    color: #D7D2CC;
    background: transparent;
    padding-bottom: 10px;
  } 
  td{
    position: relative;
    &.active{      
      color: #18222E;
      background: #D7D2CC;
      padding: 7.5px;
      font-size: 14px;
      font-weight: 500;
      border-collapse: collapse;
      border: 3.5px solid #18222E;
      width: 14%; 

      .vaxx-delete{
        z-index: 99;
        cursor: pointer;
        color: #D7D2CC;
        font-size: 1em;
        /* margin-right: 5px; */
        /* margin-top: -5px; */
        position: absolute;
        left: -35px;
        top: 5px;

        .fa-inverse{
          color: #18222E;
        }
      }

      .fa-eye, .fa-eye-slash{
        right: -25px;
        top: 0;
        position: absolute;
        z-index: 99;
        cursor: pointer;
        color: #fff;
        font-size: 1.25em;
        left: auto;
      }
      .fa-plus, .fa-check{
        z-index: 99;
        cursor: pointer;
        color: #fff;
        font-size: 1.25em;
        right: -22.5px;
        position: absolute;
        top: 25px;
        left: auto;
      }

      .vaxx-popover{
        height: auto;
        width: 375px;
        background-color: #D7D2CC;
        position: absolute;
        top: 25%;
        right: 10%;
        -webkit-box-shadow: 3px 3px 17px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 17px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 17px -5px rgba(0, 0, 0, 0.75);
        z-index: 9999;
        padding: 17.5px;
        
        .left-side{
          text-align: right;
          margin-top: 10px;
          padding-right: 9px;
          margin-bottom: 15px;

          label{
            font-weight: 600;
          }
          input{
            vertical-align: -6px;
          }
        }

        .right-side{

          input{
            height: 30px;
            padding: 8px 8px;
            font-size: 12px;
            line-height: 0.75;

            &[type="checkbox"]{
              margin-top: 5px;
            }
          }
        }
        .vaxx-close-popover{
          z-index: 99;
          cursor: pointer;
          color: #D7D2CC;
          font-size: 0.75em;
          /* margin-right: 5px; */
          /* margin-top: -5px; */
          position: absolute;
          right: 5px;
          top: 5px;

          .fa-inverse{
            color: #18222E;
          }
        }
      }
    }

    .vaxx-dose-text{
      font-weight: 600;
      font-size: 12px;
    }

    .fa-eye, .fa-eye-slash{
      left: 3.5px;
      top: 0;
      position: absolute;
      z-index: 99;
      cursor: pointer;
      color: #fff;
      font-size: 1.25em;
    }
    .fa-plus, .fa-check{
      z-index: 99;
      cursor: pointer;
      color: #fff;
      font-size: 1.25em;
      left: 5px;
      position: absolute;
      top: 25px;
    }

    &:first-child{

    }

    &:last-child{
      border-right: none;
    }

    .vaxx-name{
      font-weight: 600;
    }
    .vaxx-description{
      font-size: 10px;
      font-weight: bold;
    }
  }
}

.create-vaxx-popover-wrapper{
  position: relative;

  .create-vaxx-popover{
    position: absolute;
    bottom: 30px;
    background: #D7D2CC;
    width: 110%;
    margin-left: -5%;
    z-index: 99;
    -webkit-box-shadow: 3px 3px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 17px -5px rgba(0, 0, 0, 0.75);
    padding-top: 17.5px;
    
    .create-vaxx-close{
      z-index: 99;
      cursor: pointer;
      color: #D7D2CC;
      font-size: 0.75em;
      /* margin-right: 5px; */
      /* margin-top: -5px; */
      position: absolute;
      right: 5px;
      top: 5px;

      .fa-inverse{
        color: #18222E;
      }
    }
    form{
      .vaxx-info{
        padding: 10px;
      }

    }
  }
}

/*

AIM 

 */
.aim-panel{
  margin-top: -15px;
  
  > header{
    margin-bottom: 15px;
  }

  .btn-actions{
    margin-bottom: 10px;
    font-size: 12px;
  }
}