<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans" rel="stylesheet">
    <style>
      *{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
      }
      .btn{
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 10px 18px;
        font-size: 15px;
        line-height: 1.42857143;
        border-radius: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: 'Open Sans', sans-serif;
      }
      .btn-primary {
        color: #fff;
        background-color: #f6303e;
        border-color: #f6303e;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
      }
      .btn-primary:hover {
        color: #fff;
        background-color: #e90a1a;
        border-color: #df0a19;
      }
      .copy-paste-link{
        font-style: italic;
        color: #f6303e;
        font-size: 10px;
        text-decoration: underline;
      }
      .copy-paste-link:hover{
        color: #df0a19;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
