<section id="account-new" class="register-account row">
  <header class="">
    <h1 class="col-md-6"><span class="red-background">Indestructible</span> templates so you can edit and collaborate directly on fully designed documents.</h1>
    <h2 class="col-md-8">Stop formatting and <span class="arrow-background">start making.</span></h2>
   </header>
   <section class="account-auth">
     <%= client("RegistrationWidget", 'account-registration-widget', {logo: (asset_path 'twik-logo-horizontal-red.png')}) %>
   </section>
</section>

