<section id="account-new" class="register-account row">
  <header class="col-sm-4 col-sm-offset-4">
    <h1>Welcome to Twik!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc augue ex, feugiat eget rhoncus eget, finibus sit amet nibh. Pellentesque vitae sagittis velit. Fusce risus nisi, ultricies non vulputate scelerisque, luctus id mauris. Maecenas congue elit at ante faucibus consectetur. Duis aliquam tincidunt ligula ut dignissim. In commodo nibh ac rhoncus bibendum. Integer scelerisque magna libero, nec lobortis nunc pharetra eget.    
    </p>
   </header>
   <section class="account-auth col-sm-4 col-sm-offset-4">
     <%= client("RegistrationWidget", 'ccount-registration-widget', {}) %>
   </section>
</section>
