<section id="account-new" class="register-account row">
  <header class="col-sm-10 col-sm-offset-1">
    <h1>Unbreakably styled documents so you can edit, collaborate, publish and get things done</h1>
   </header>
   <section class="account-auth col-sm-10 col-sm-offset-1">
     <%= client("RegistrationWidget", 'account-registration-widget', {}) %>
   </section>
</section>
