<section id="account-new" class="register-account row">
  <header>
    <div class="row">
      <div class="col-md-7 col-md-offset-0 col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-2" style="padding: 0 30px;">
        <h1>
          <span class="red-background">Indestructible</span> templates so you can edit and collaborate directly on fully designed documents.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-0 col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-2" style="padding: 0 30px;">
        <h2>Stop formatting and <span class="arrow-background">start making.</span></h2>
      </div>
    </div>
  </header>
  <section class="account-auth">
    <%= client("RegistrationWidget", 'account-registration-widget', {}) %>
  </section>
</section>

