<section id="account-new" class="register-account row">
  <header class="col-sm-4 col-sm-offset-4">
    <h1>enables you to make, use, edit, collaborate, archive and publish styled templates directly</h1>
    <p>Twik is a platform  that enables you and your team to create, use, edit, collaborate, archive and publish styled templates.</p>
    <p>Unbreakably styled documents so you can get it done.</p>
   </header>
   <section class="account-auth col-sm-4 col-sm-offset-4">
     <%= client("RegistrationWidget", 'account-registration-widget', {}) %>
   </section>
</section>
